@import 'tailwindcss';

body {
	background-color: #111113;
	color: #edeef0;
}

#fps {
	position: fixed;
	left: 0;
	top: 0;
	color: lime;
	outline: black;
	text-shadow: none;
	font-family: Digital;
}

#overlay {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;
	background-image: url('/images/overlay.png');
	background-repeat: repeat;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

@media screen and (min-width: 601px) {
    @supports (-moz-appearance: none) {
        body {
            text-shadow: var(--firefox-body-shadow) !important;
        }
        h2 {
            text-shadow: var(--firefox-green-shadow) !important;
        }
        a {
            text-shadow: var(--firefox-green-shadow) !important;
        }
    }
    #overlay:before {
        content: "";
        position: fixed;
        opacity: 0.2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1000;
        background-image: url(/images/overlay.png);
        background-repeat: all;
        background-position: 0px 0px;
        animation-name: Static;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(4);
        box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
    }

    #overlay:after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1000;
        background-image: url(/images/overlay2.png);
        background-repeat: all;
        background-position: 0px 0px;
        animation-name: Static;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(4);
    }
}

/* ANIMATIONS */
@keyframes Static {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 0px 4px;
	}
}

/* FONTS */
@font-face {
    font-family: "Digital";
    src: url("/fonts/Digital.ttf?") format("truetype");
    font-weight: normal;
    font-style: normal;
}