@import 'tailwindcss';

body {
	background-color: #111113;
	color: #edeef0;
	image-rendering: pixelated;
	font-family: 'RussianGothic', 'MS UI Gothic', 'NEC_APC3', Tahoma;
	background-color: black;
	text-shadow: var(--body-text-shadow);
	font-smooth: never;
	-webkit-font-smoothing: none;
}

#overlay {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;
	background-image: url('/images/overlay.png');
	background-repeat: repeat;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

@media screen and (min-width: 601px) {
	@supports (-moz-appearance: none) {
		body {
			text-shadow: var(--firefox-body-shadow) !important;
		}
		h2 {
			text-shadow: var(--firefox-green-shadow) !important;
		}
		a {
			text-shadow: var(--firefox-green-shadow) !important;
		}
	}
	#overlay:before {
		content: '';
		position: fixed;
		opacity: 0.2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 9998;
		background-image: url(/images/overlay.png);
		background-repeat: all;
		background-position: 0px 0px;
		animation-name: Static;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
		box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
	}

	#overlay:after {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 9998;
		background-image: url(/images/overlay2.png);
		background-repeat: all;
		background-position: 0px 0px;
		animation-name: Static;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
	}
}

#snow {
	background: none;
	background-image: url(/images/snow1.png), url(/images/snow2.png), url(/images/snow3.png);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	animation: Snow 100s linear infinite;
	pointer-events: none;
	opacity: 0.5;
}

.box {
	border: 2px solid #363a3f;
	border-radius: 2px;
	padding: 10px 10px;
	margin: 5px;
}

.centerbox {
	text-align: center;
}

h2 {
	font-family: 'Pixel NES';
}

#menutd {
	width: 225px;
	vertical-align: baseline;
}

#albumcover {
	border: 1px solid #383838;
	float: left;
	margin-right: 10px;
}

#songname {
	width: 115px;
}

#artist {
	overflow-wrap: anywhere;
	max-height: 35px;
	text-overflow: ellipsis;
	display: grid;
	overflow: hidden;
}

.blob {
	background: #5dff8a;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	box-shadow: 0 0 0 0 #5dff8a;
	transform: scale(1);
	animation: pulse 2s infinite;
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

.inblob {
	background: rgb(93, 93, 93);
	border-radius: 50%;
	height: 10px;
	width: 10px;
	box-shadow: 0 0 0 0 rgb(93, 93, 93);
	transform: scale(1);
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

.footer {
	text-align: center;
	padding: 5px 0;
	color: #ccc;
	font-size: 0.9em;
	line-height: 1.3;
}

/* ANIMATIONS */
@keyframes Static {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 0px 4px;
	}
}

@keyframes Snow {
	0% {
		background-position:
			0px 0px,
			0px 0px,
			0px 0px;
	}
	50% {
		background-position:
			5000px 5000px,
			1000px 2000px,
			-1000px 1500px;
	}
	100% {
		background-position:
			5000px 10000px,
			2000px 4000px,
			-1000px 3000px;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(93, 255, 138, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(93, 255, 138, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(93, 255, 138, 0);
	}
}

/* FONTS */
@font-face {
	font-family: 'Pixel NES';
	src:
		url('/fonts/Pixel_NES.eot?') format('eot'),
		url('/fonts/Pixel_NES.woff') format('woff'),
		url('/fonts/Pixel_NES.ttf') format('truetype'),
		url('/fonts/Pixel_NES.svg#PixelNES') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEC_APC3';
	src: url('/fonts/pixelfonts/Web437_NEC_APC3_8x16.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEC_APC3';
	src: url('/fonts/pixelfonts/Web437_Nix8810_M16.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Perfect DOS VGA 437 Win';
	src: url('/fonts/Perfect DOS VGA 437 Win.ttf?') format('truetype');
	font-weight: normal;
	font-style: normal;
}
