@import 'tailwindcss';

body {
	background-color: #111113;
	color: #edeef0;
    image-rendering: pixelated;
	font-family: 'RussianGothic', 'MS UI Gothic', 'NEC_APC3', Tahoma;
	background-color: black;
	text-shadow: var(--body-text-shadow);
	font-smooth: never;
	-webkit-font-smoothing: none;
}

#overlay {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;
	background-image: url('/images/overlay.png');
	background-repeat: repeat;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

@media screen and (min-width: 601px) {
	@supports (-moz-appearance: none) {
		body {
			text-shadow: var(--firefox-body-shadow) !important;
		}
		h2 {
			text-shadow: var(--firefox-green-shadow) !important;
		}
		a {
			text-shadow: var(--firefox-green-shadow) !important;
		}
	}
	#overlay:before {
		content: '';
		position: fixed;
		opacity: 0.2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 9998;
		background-image: url(/images/overlay.png);
		background-repeat: all;
		background-position: 0px 0px;
		animation-name: Static;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
		box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
	}

	#overlay:after {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 9998;
		background-image: url(/images/overlay2.png);
		background-repeat: all;
		background-position: 0px 0px;
		animation-name: Static;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
	}
}

#snow {
	background: none;
	background-image: url(/images/snow1.png), url(/images/snow2.png), url(/images/snow3.png);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	animation: Snow 100s linear infinite;
	pointer-events: none;
	opacity: 0.5;
}

.box {
	border: 2px solid #363a3f;
	border-radius: 2px;
	padding: 10px 10px;
	margin: 5px;
}

#menutd {
	width: 225px;
	vertical-align: baseline;
}

#musicbox {
	height: 60px;
}

#albumcover {
	border: 1px solid #383838;
	float: left;
	margin-right: 10px;
}

#songname {
	width: 115px;
}

#artist {
	overflow-wrap: anywhere;
	max-height: 35px;
	text-overflow: ellipsis;
	display: grid;
	overflow: hidden;
}

/* ANIMATIONS */
@keyframes Static {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 0px 4px;
	}
}

@keyframes Snow {
	0% {
		background-position:
			0px 0px,
			0px 0px,
			0px 0px;
	}
	50% {
		background-position:
			5000px 5000px,
			1000px 2000px,
			-1000px 1500px;
	}
	100% {
		background-position:
			5000px 10000px,
			2000px 4000px,
			-1000px 3000px;
	}
}

/* FONTS */
